{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-unused-vars": [
      "error", {
        "vars": "all",
        "argsIgnorePattern": "request|response|done"
      }
    ] 
  },
  "env": {
    "node": true,
    "es6": true
  }
}